services:
  civirank:
    image: civirank-civirank
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT}:8000"
    environment:
      BATCH_SIZE: "${BATCH_SIZE}"
      SCROLL_WARNING_LIMIT: "${SCROLL_WARNING_LIMIT}"
    command: ["python", "start_server.py", "--port", "${PORT}", "--batch_size", "${BATCH_SIZE}", "--scroll_warning_limit", "${SCROLL_WARNING_LIMIT}",  "--no-download-models"]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
              count: 1 